<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://leongrw08.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>leongrw08.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>leongrw08</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$leongrw08</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:bxwuznkmje.database.windows.net,1433;Initial Catalog=leongrw08_db;User ID=leongrw08@bxwuznkmje;Password=Pix.dot." Name="Data Source=tcp:bxwuznkmje.database.windows.net,1433;Initial Catalog=leongrw08_db;User Id=leongrw08@bxwuznkmje;Password=Pix.dot." />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="StudentAPI.Models.StudentsContext, StudentAPI" MigrationConfiguration="StudentAPI.Migrations.StudentsContext.Configuration, StudentAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:bxwuznkmje.database.windows.net,1433;Initial Catalog=leongrw08_db;User Id=leongrw08@bxwuznkmje;Password=Pix.dot.</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>